@font-face {
	font-family: Libre Baskerville;
	src: url(../fonts/1879422f06f74798862f9202216acdd4.ttf.html)
}
body {
	font-family: 'Raleway', 'Open Sans', sans-serif, Arial, 'microsoft yahei', Helvetica;
	color: #333;
}
header {
}
ol, ul, li {
	list-style: none;
}
.top_menu {
	font-size: 12px;
	background-color: #fff;
	color: #ffffff;
	width: 100%;
	height: 40px;
	border-bottom: 1px #e7e7e7 solid;
}/***/
.language {
	float: left;
	height: 40px;
	padding: 10px 10px 0px 0px;
	font-size: 14px;
	color: #555;
	font-family: microsoft yahei
}/***/
.top_name {
	float: right;
	height: 40px;
	padding: 5px 10px 0px 10px;
	color: #666;
}
.top_name a {
	margin-right: 5px
}
.logo {
	margin-top: 10px;
	max-width: 700px;
}
.flash img {
	height: 650px;
	width: 1920px;
}
.flash ul.bxslider {
	list-style: none;
}
.flash div.bx-pager {
	bottom: 4%;
}
.flash div.bx-controls-direction {
	display: none;
}
.main {
	padding: 30px 0px 10px 0px;
}
.opacity_img {
}
.img-thumbnail:hover, .opacity_img:hover {
}
.img-thumbnail:hover, .opacity_img:hover {
	opacity: 0.8;
}
/*导航菜单*/
.navbar {
	margin: 0px;
	background-color: #fff;
	border: none;
}
.glyphicon-home:before {
	
}
#app_menudown {
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 18px;
}
#app_menudown:hover {
	background-color: #fdce16;
}
.language a {
	color: #555;
}/*****/
.language i {
	color: #fdce16;
	margin-left: 10px;
}/****/
.search-box {
	padding: 14px 0;
	background: #000;
	word-wrap: break-word;
}
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	min-width: 300px;
}
.searchimage {
	line-height: 35px;
	background-color: #fdce16;
	border: none;
	color: #fff;
	margin-left: -13px;
}
#keyword {
	background: #fff;
	line-height: 33px;
	height: 37px;
	width: 100%;
	padding-left: 15px;
	border: #d9d9d9 1px solid
}
.hottag {
	line-height: 36px;
	color: #ccc;
}
.hottag a {
	color: #ccc;
}
h2.tt:before {
	content: '';
	width: 85px;
	height: 6px;
	background: url(../images/title_left.png) no-repeat;
	margin: 0 auto;
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px
}
h2.tt:after {
	content: '';
	width: 85px;
	height: 6px;
	background: url(../images/title_right.png) no-repeat;
	margin: 0 auto;
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px
}
.scroll {
	width: 50px;
	height: 50px;
	background: #fdce16;
	color: #fff;
	line-height: 50px;
	text-align: center;
	position: fixed;
	right: 5px;
	bottom: 50px;
	cursor: pointer;
	font-size: 14px;
	border-radius: 5px;
}
/*产品搜索*/
.search_group {
	float: right;
	margin: 44px 0px 0px 0px;
}
.search_group input.form-control {
	border-radius: 0px;
	border: none;
	box-shadow: none;
	padding: 12px 10px;
	height: 38px;
	border-right: none;
}
#submit_search {
	color: #fff;
	font-size: 16px;
	height: 38px;
	background-color: #F3C98B;
	border-radius: 0px;
	margin-top: -1px;
}
#submit_search:hover {
	cursor: pointer;
	background-color: #EE4547;
}
#small_search {
	color: #fff;
	float: right;
	margin-top: 7px;
	padding: 8px 13px;
	font-size: 17px;
	border-radius: 4px;
}
#small_search:hover, #small_search:focus {
	cursor: pointer;
	background-color: #EE4547;
}
/*首页产品*/
.product_head h2 {
	font-size: 30px;
	text-align: center;
	color: #fdce16;
	margin: 0px;
}
.product_head p {
	text-align: center;
	padding-top: 2px;
	font-size: 18px;
	color: #9A9A9A;
	margin-bottom: 5px;
}
.product_index {
	margin: 40px 0px 0px 0px;
}
.product_list {
	clear: both;
	margin-bottom: 30px;
	margin-right: -15px;
	margin-left: -15px;
	overflow: hidden;
}
.product_list2 {
	padding-top: 30px;
}
.product_img {
	padding-left: 15px;
	padding-right: 15px;
	min-height: 330px;
}
.product_img img {
	margin-right: auto;
	margin-left: auto;
	display: block;
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
	max-height: 380px;
}
.product_list2 div.product_img {
	min-height: 220px;
}
.product_title {
	text-align: center;
	height: 40px;
}
.product_title a {
	color: #656464;
}
.product_title a:hover {
	text-decoration: none;
	color: #F3C98B;
}
.pd-img {
	position: relative;
}
.pd-shadow {
	text-align: center;
}
.pd-shadow:hover {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
	background-color: #fdce16;
	opacity: 0.8;
}
.pd-shadow:before {
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	-webkit-transition: all 0.3s;
	background-color: #fff;
}
.pd-shadow img {
	display: none;
}
.pd-shadow:hover img {
	display: block;
	margin-top: -25px;
	padding-top: 50%;
}
/********************/
.mdetails {
	display: inline-block;
	background-color: #2b2d42;
	text-align: center;
	width: 50%;
	line-height: 24px;
	text-transform: uppercase;
	font-family: microsoft yahei
}
.menquiry {
	display: inline-block;
	color: #fff;
	background-color: #FAB933;
	text-align: center;
	width: 50%;
	display: inline-block;
	line-height: 24px;
	text-transform: uppercase;
	float: right
}
.product_title {
	padding: 15px 2px 15px 2px;
	text-align: center
}
.allim:hover {
	box-shadow: 0 4px 20px rgba(0,0,0,.3);
	border-radius: 10px;
	transform: scale(1);
	-webkit-transform: scale(1);
	border: none;
	background: #fff
}
.allim {
	margin-top: 20px;
	border: 1px solid #ccc;
	box-shadow: 0 0 1px rgba(136,136,136,.2)
}
a.mdetails {
	color: #fff;
}
/****轮播下方广告*****/
.layout {
	width: 1140px;
	margin: 0 auto;
	position: relative
}
.index-sv-items {
	position: relative;
	overflow: hidden;
	padding-top: 40px;
}
.index-sv-items ul {
	width: 105%;
	margin: 0 auto;
	padding: 0px;
}
.index-sv-items .sv-item {
	width: 270px;
	padding: 30px 0 0 0;
	float: left;
	margin: 0 20px 0 0;
	text-align: center;
	border: 1px solid #b9b9b9
}
.index-sv-items .sv-item:hover .sv-ico {
	background-color: #fdce16;
	border: 1px solid #fdce16
}
.index-sv-items .sv-ico {
	display: table;
	text-align: center;
	margin: 0 auto 30px;
	border: 1px solid #b9b9b9;
	padding: 20px;
	background-color: #fff;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	position: absolute;
	left: 80px;
	top: -40px
}
.index-sv-items .sv-ico img {
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg)
}
.index-sv-items .sv-tit:after {
	content: "";
	width: 70px;
	height: 2px;
	background-color: transparent;
	border-bottom: 1px solid #c9c9c9;
	border-top: 1px solid #c9c9c9;
	display: block;
	visibility: visible;
	margin: auto;
	margin-top: 5px
}
.index-sv-items .sv-ico img {
	max-height: 90px
}
.index-sv-items .sv-tit, .index-sv-items .sv-tit a {
	color: #333
}
.index-sv-items .sv-tit {
	position: relative;
	padding: 0px 0 10px 0;
	line-height: 1.5em;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	color: #222
}
.index-sv-items .sv-desc {
	font-size: 14px;
	line-height: 1.8;
	padding: 0 10px 20px;
	color: #898989
}
.index-sv-items .readmore {
	display: block;
	text-transform: uppercase
}
.index-sv-items .readmore {
	display: inline-block;
	line-height: 38px;
	padding: 0 25px 0 25px;
	border-radius: 3px
}
.index-sv-items .sv-item:hover .readmore {
	color: #fdce16
}
/*首页案例*/
.case_box {
	background-color: #101010;
	padding: 50px 0px 20px 0px;
	margin-top: 40px;
}
.case_head h2 {
	text-align: center;
	margin-bottom: 5px;
	color: #fff;
}
.case_head p {
	text-align: center;
	color: #999999;
}
.case_list {
	clear: both;
	padding: 30px 0px 10px 0px;
	margin-right: -15px;
	margin-left: -15px;
}
.case_list p.product_title a {
	color: #fff
}
.case_list p.product_title a:hover {
	text-decoration: none;
	color: #F3C98B;
}
/*我们的优势*/
.advantage {
	text-align: center;
	color: #fff;
	padding: 0px 0px 10px 0px;/*background-color: #F4F4F4;*/
}
.advantage_head h2 {
	font-size: 30px;
	color: #666666;
}
.advantage_head p {
	text-align: center;
	padding-top: 2px;
	font-size: 18px;
	color: #9A9A9A;
	margin-bottom: 5px;
}
.advantage_list {
	padding-top: 30px;
}
.advantage_col {
	margin-bottom: 30px;
	text-align: center;
}
.advantage_col p {
	text-align: center;
	padding-top: 12px;
}
.advantage_col p a {
	color: #434343;
	font-size: 16px;
	font-weight: bold;
}
.advantage_col p a:hover {
	color: #F3C98B;
	text-decoration: none;
}
.bg-advantage { /*background:url(../images/bg.png.jpeg);*/
	background-size: cover;
	background-color: #000;
}
.ico-left {
	float: left;
	width: 20%;
}
.ico-right {
	float: right;
	width: 80%;
	color: #FFF;
}
.ico-right h3 {
	text-transform: capitalize;
	margin: 0px;
}
.well-4 {
	padding-top: 72px;
	padding-bottom: 79px;
}
.well-1 {
	padding-top: 15px;
	padding-bottom: 15px;
}
.info_more {
	position: absolute;
	background: #EE4547;
	bottom: 0;
	width: 100%;
	line-height: 35px;
}
.info_more:hover {
	background: #d8181b;
}
.info_more a {
	color: #FFF;
	text-decoration: none;
}
.news_img {
	padding: 0px;
}
/*公司简介*/
.jc_about {
	background-color: #16bdfe;
}
.about_index {
	padding: 20px 20px 40px 20px
}
.about_head h2 {
	font-size: 30px;
	text-align: center;
	color: #ee4547;
	margin: 0px;
}
.about_head p {
	text-align: center;
	padding-top: 2px;
	font-size: 18px;
	color: #9A9A9A;
	margin-bottom: 25px;
}
.about_content p {
	line-height: 30px;
	margin-top: 10px;
	font-size: 14px;
	color: #1d1c1c;
}
.about_content img {
	margin: 0px 30px 0px 0px;
	max-width: 500px;
}
.about_content a.btn-info {
	color: #EE4547;
	background: transparent;
	border-radius: 0px;
	border: 1px solid #EE4547;
	padding: 8px 36px;
}
.about_content a.btn-info:hover, .about_content a.btn-info:focus {
	color: #fff;
	background: #EE4547;
	border: 1px solid #EE4547;
}
/*首页新闻*/
.news_box {/*background-color: #F4F4F4;*/
	padding-bottom: 30px;
}
.news_head {
	margin-top: 45px;
}
.news_head h2 {
	text-align: center;
	margin-bottom: 25px;
	font-size: 30px;
	color: #ee4547;
}
.news_head p {
	text-align: center;
	font-size: 18px;
	color: #9A9A9A;
}
.news_img {
	min-height: 426px;
	background-repeat: no-repeat;
}
.news_index {
	clear: both;
	list-style: none;
	margin: 0px;
	padding: 0px;
	margin-bottom: 25px;
}
.news_index li {
	padding: 0px 0px 37px 0px;
}
.news_index li span {
	display: inline-block;
	width: 60px;
	height: 60px;
	text-align: center;
	background-color: #EE4547;
	color: #fff;
	float: left;
	padding: 0px 2px;
	margin-right: 15px;
}
.news_index li span strong {
	display: block;
	font-size: 23px;
	font-weight: normal;
	padding-top: 5px;
}
.news_index li span i {
	display: block;
	font-size: 12px;
	font-style: normal;
	font-family: Arial;
}
.news_index li a {
	color: #8b8b8b;
	font-size: 20px;
}
.news_index li a:hover {
	text-decoration: none;
	color: #EE4547;
}
.news_index li em {
	font-style: normal;
	display: inline-block;
	line-height: 18px;
	color: #a7a7a7;
	padding-top: 8px;
	font-size: 12px;
}
/*列表页*/
.list_box {
	clear: both;
	padding: 10px 0px 0px 0px;
}
.page_bg {
	height: 210px;
	margin-top: 90px;
	margin-bottom: 20px;
}
/*栏目导航*/
.left_nav {
	clear: both;
	padding-top: 10px;
}
.left_h {
	background: url(../images/title_line.jpg) left bottom no-repeat;
	font-size: 22px;
	display: block;
	margin-top: 25px;
	padding: 0px 0px 10px 0px;
	color: #000;
}
.left_nav_ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	margin: 15px 0px 0px 0px;
}
.left_nav_ul > li {
	position: relative;
	border-bottom: 1px solid #f2f2f2;
	background: url(../images/left_sli.gif) 6px 15px no-repeat;
	padding: 8px 0px 8px 18px;
}
.left_nav_ul > li > a {
	text-decoration: none;
	color: #656464;
}
.left_nav_ul > li > a:hover, .left_nav_ul li a.left_active {
	color: #16bdfe;
}
/*小类*/
ul.left_snav_ul {
	list-style: none;
	padding: 0px;
	display: none;
	padding-top: 8px;
}
ul.left_snav_ul > li {
	margin: 0px;
	padding: 5px 0px 5px 10px;
	background: url(../images/left_sli.gif) 0px 13px no-repeat;
}
ul.left_snav_ul > li > a {
	border: 0;
	color: #797979;
	padding: 5px 0px 5px 0px;
}
ul.left_snav_ul > li > a:hover {
	text-decoration: none;
	color: #F3C98B;
}
.menu_head {
	cursor: pointer;
	font: 600 18px/30px "Open Sans", sans-serif;
	width: 35px;
	text-align: center;
	color: #303c4b;
	display: inline-block;
	position: absolute;
	top: 3px;
	right: 0px;
}
.menu_head:hover {
	color: #F3C98B;
}
/*左侧新闻*/
.left_news {
	clear: both;
	list-style: none;
	margin: 0px;
	padding: 12px 0px 0px 0px;
}
.left_news li {
	color: #545455;
	border-bottom: 1px dotted #dddddd;
	background: url(../images/li.png) no-repeat left 15px;
	line-height: 21px;
	padding: 10px 0px;
	padding-left: 14px;
}
.left_news li a {
	color: #656464;
	display: inline-block;
}
.left_news li a:hover {
	text-decoration: none;
	color: #F3C98B;
}
/*左侧联系*/
.index_contact {
	margin: 30px 0px 35px 0px;
}
.index_contact p, .index_econtact p {
	clear: both;
}
/*新闻列表*/
.list_news {
	clear: both;
	list-style: none;
	margin: 0px;
	padding: 12px 0px 20px 0px;
}
.list_news li {
	color: #898989;
	background: url(../images/li.png) no-repeat left 14px;
	line-height: 22px;
	padding: 8px 0px;
	padding-left: 13px;
	border-bottom: 1px dashed #e3e2e2;/*dotted*/
}
.list_news li a {
	color: #303c4b;
	display: inline-block;
}
.list_news li a:hover {
	text-decoration: none;
	color: #F3C98B;
}
.news_time {
	float: right;
}
.contents {
	clear: both;
	padding: 15px 2px 15px 2px;
	line-height: 28px;
	overflow: auto;
}
.contents_title {
	margin: 0px;
	padding: 10px 0px;
	text-align: center;
	color: #000;
	font-size: 18px;
	color: #434343;
	font-weight: bold;
	line-height: 34px;
}
.contents_des {
	margin: 0px;
	padding: 10px 0px;
	text-align: center;
	font-size: 14px;
	color: #999;
	font-weight: normal;
	line-height: 30px;
	border-bottom: #dedede 1px dotted
}
.contents img {
	max-width: 100%
}
/*分页样式*/
.pages {
	clear: both;
	margin: 20px 0;
	overflow: hidden;
	padding-top: 20px;
	text-align: center;
	font-size: 12px;
	border-top: 5px solid #f4f5f6;
}
.pages ul li {
	display: inline-block;
	border: 1px solid #ccc;
	padding: 4px 12px;
	margin: 0 1px;
	line-height: 24px;
	background: #fff;
	color: #999
}
.pages ul li:hover {
	background: #febf01;
	color: #fff;
	border: 1px solid #febf01
}
.pages ul li:hover a {
	color: #fff;
}
.pages ul li.thisclass {
	display: inline-block;
	border: 1px solid #febf01;
	padding: 4px 12px;
	margin: 0 1px;
	background: #febf01;
	color: #fff;
}
.pages ul li.thisclass a {
	color: #fff;
}
.pages ul li a {
	display: block;
	color: #999
}
.pages ul li a:hover {
	color: #fff;
}
/*产品展示*/
#pic-page {
	text-align: center;
	margin-top: 10px;
}
#pic-page a {
	margin: 0 2px;
}
#pic-page a img {
	width: 40px;
	padding: 2px;
	border: solid #ccc 1px;
	margin-bottom: 5px;
}
#pic-page a:hover img, #pic-page a.active img {
	border: solid #5280DD 1px;
}
.showpic_box, .proinfo_box {
	margin: 30px 0px 20px 0px;
}
.showpic_box div.bx-wrapper img {
	margin: 0 auto;
	max-height: 340px;
}
.product_h1 {
	margin: 0px;
	line-height: 24px;
	font-size: 16px;
	color: #16bdfe;
	padding-bottom: 5px;
	border-bottom: 1px dotted #cccccc;
}
.product_info {
	list-style: none;
	padding: 0px;
	margin-top: 10px;
}
.product_info li {
	line-height: 24px;
	padding-bottom: 12px;
}
.product_con {
	clear: both;
	border-top: 1px dotted #ccc;
	margin: 10px 0px 20px 0px;
	padding: 20px 0px 0px 0px;
	line-height: 26px;
	overflow: auto;
}
.related_h1 {
	padding: 30px 0px 12px 0px;
	color: #303c4b;
	margin: 0px;
	display: block;
	font-weight: 300;
	font-size: 24px;
	border-bottom: 5px solid #f4f5f6;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.related_list {
	padding-top: 25px;
}
.related_news {
	padding-top: 10px;
	clear: both;
	margin-bottom: 15px;
}
.download_btn {
	text-align: right;
	margin: 10px 10px 20px 0px;
}
.page-btn {
	background-color: #16bdfe;
	border-radius: 0px;
	border: none;
}
.page-btn:hover, .page-btn:focus {
	background-color: #EE4547;
}
.grey-btn {
	border-radius: 0px;
	border: none;
	background-color: #E8E8E8;
}
.grey-btn:hover, .grey-btn:focus {
	background-color: #ccc;
}
.a2a_default_style {
	display: inline-block;
}
/*在线留言订购*/
.feedback {
	margin-top: 50px;
}
.form-horizontal .form-group {
	margin-right: -10px;
	margin-left: -10px;
}
.codeimg {
	margin: 0px 0px -10px -18px;
}
/*上一个下一个*/
.point {
	clear: both;
	margin: 20px 0px 40px 0px;
	padding-bottom: 40px;
	line-height: 22px;
}
.point span.to_prev {
	text-align: center;
}
.point span.to_prev a {
	color: #0068b7;
}
.point span.to_prev a:hover {
	color: #F3C98B;
	text-decoration: none;
}
.point span.to_next {
	text-align: center;
}
.point span.to_next a {
	color: #0068b7;
}
.point span.to_next a:hover {
	color: #F3C98B;
	text-decoration: none;
}
/*标签样式*/
.tags {
	margin: 15px 0px 10px 0px
}
.tags a {
	margin: 0px 5px 8px 0px
}
.tags_list {
	padding: 5px 10px 100px 10px
}
.tags_ul {
	margin-top: 10px;
}
.tags_ul li {
	line-height: 28px;
	margin-bottom: 8px;
	padding-bottom: 10px;
}
.tags_ul h3 {
	font-size: 14px;
	padding: 0px;
	margin: 0px;
	line-height: 20px;
}
.tags_ul p {
	font-size: 13px;
	padding: 0px;
	margin: 0px;
	color: #a0a0a0;
	line-height: 20px;
	padding-top: 8px;
}
/*网站地图*/
ul.ul_sitemap {
	margin: 30px 0px 40px 30px;
}
ul.ul_sitemap li {
	list-style: none;
	line-height: 26px;
	clear: both;
}
ul.ul_sitemap li a {
	color: #7d7d7d;
}
li.small_li_sitemap {
	clear: both;
	padding-left: 12px;
}
li.small_li2_sitemap {
	float: left;
	padding-left: 20px;
}
/*首页Tags*/
.tags_box {
	background-color: #24A551;
	padding: 9px 0px 9px 0px;
	text-align: center;
	color: #fff;
	font-size: 13px;
	border-top: 1px solid #F3C98B;
}
.tags_box a {
	color: #fff;
	border-right: 1px solid #fff;
	padding: 0px 8px 0px 8px;
	font-size: 13px;
}
.tags_box a:hover {
	text-decoration: none;
	color: #FFEB3B;
}
.tags_box a:last-child {
	border-right: 0px;
}
.tags_box button {
	display: none;
}
.tags_title {
	font-size: 13px;
	margin-right: -6px;
}
.tags_title a {
	padding: 0px 10px 0px 0px;
}
.tags_title:after {
	content: "：";
}
/*友情链接*/
.link_box {
	background-color: #24A551;
	padding: 10px 0px;
	text-align: center;
	color: #fff;
	font-size: 13px;
}
.link_box a {
	color: #fff;
	border-right: 1px solid #fff;
	padding: 0px 10px 0px 10px;
	font-size: 13px;
}
.link_box a:hover {
	text-decoration: none;
	color: #FFEB3B;
}
.link_box a:last-child {
	border-right: 0px;
}
.link_box button {
	display: none;
}
.link_title {
	font-size: 13px;
	margin-right: -6px;
}
.link_title:after {
	content: "：";
}
/*底部信息*/
.copyright {
	line-height: 20px;
}
.copyright a {
	color: #b7b7b7;
}
.copyright a:hover {
	color: #fff;
}
.foot_nav {
	width: 25%;
	float: left;
	background-color: #fafafa;
	text-align: center;
	color: #898989;
}
.foot_nav:hover, .foot_nav:focus {
	background-color: #e4e4e4;
	cursor: pointer;
}
.foot_nav a {
	color: #898989;
	display: block;
}
.foot_nav a:hover, .foot_nav a:focus {
	text-decoration: none;
}
.foot_nav span {
	display: block;
	padding: 3px 0px 0px 0px;
	color: #898989;
}
.webshare {
	width: 200px;
	padding: 5px;
}
#footer {
	background: #181818;
	position: relative;
	color: #ccc; /*background: url(../images/bn.jpg);*/
	-webkit-background-size: cover;
	background-size: cover;
}
#footer a {
	color: #ccc
}
.footer_link a, .footer_link span {
	color: #777
}
.footer_link a:hover {
	color: #fd6101
}
.footer_link {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	background: #ddd
}
.footer-about {
	margin: 35px auto;
	overflow: hidden
}
.pp {
	overflow: visible!important
}
.footer-m {
	display: inline-block;
	padding: 5px 10px;
	background-color: #EE4547;
	border-radius: 3px;
	font-size: 12px;
	color: #fff;
}
.footer-m:hover {
	color: #fff;
	background-color: #EE4547
}
.footer-list {
	display: inline-block
}
.footer-list li {
	margin-bottom: 5px
}
.footer-list li img {
	display: inline-block
}
.footer-add {
	font-size: 12px;
	color: #b6b6b6;
	display: inline-block;
	width: 88%;
	vertical-align: middle
}
.footer-call {
	color: #FC4548
}
.phone-p {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px
}
.foot-p {
	max-width: 130px;
	font-size: 13px;
	text-align: center;
	color: #888;
	margin-top: 5px
}
.footer-bar {
	padding: 10px 0;
	text-align: center;
	color: #fff;
	background: #181818;
	border-top: 1px solid #606060;
}
.circle {
	width: 50px;
	height: 50px;
	line-height: 45px;
	text-align: center;
	font-size: 28px;
	margin: 10px auto;
	display: inline-block;
	vertical-align: middle;
	background-image: url(http://youstone.zaojiaoguan.com/skin/images/tel.jpg)
}
.circle i {
	color: #ececec
}
.bar-text {
	display: inline-block;
	vertical-align: middle
}
.bar-text-14 {
	font-size: 14px;
	text-align: left;
	color: #ececec
}
.bar-text-28 {
	font-size: 24px;
	color: #ececec
}
.foot-bar-text {
	color: #959595;
	font-size: 14px
}
.footer-block {
	margin-right: 10px;
	margin-top: 10px
}
.footer-block a {
	border: 1px solid #CCCCCC;
	padding: 2px 5px;
	overflow: hidden;
	line-height: 2;
	white-space: normal;
}
#footer .footer-block a:hover {
	text-decoration: none;
	background-color: #fab933;
	border-color: #fab933;
	color: #fff;
}
.footer-block p {
	float: left;
	margin: 0 0 5px;
}
.f-h4 {
	color: #ececec;
	margin-bottom: 15px
}
.f-h4-span {
	display: inline-block;
	padding-bottom: 18px;
	position: relative;
	width: 100%;
}
.f-h44-span {
	display: inline-block;
	padding-bottom: 28px;
	position: relative;
	width: 100%;
}
.f-h4-span:before {
	content: "";
	width: 30px;
	height: 3px;
	visibility: visible;
	overflow: hidden;
	background-color: #fff;
	display: block;
	top: 38px;
	position: absolute;
}
.f-h4-span:after {
	content: "";
	width: 100%;
	height: 1px;
	visibility: visible;
	overflow: hidden;
	background-color: #2e2e2e;
	display: block;
	margin-top: 20px;
}
.subscribe-form .subscribe-ipt {
	display: inline-block;
	width: 70%;
	text-indent: 8px;
	border: 0;
	color: #fafafa;
	background-color: #fff;
	height: 22px;
	line-height: 22px;
	font-style: italic;
	color: #5d5d5d
}
.subscribe-form .subscribe-btn {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	margin-left: -3px;
	background-color: #fab933;
	border: 0;
	cursor: pointer;
	font-size: 12px;
	padding: 0 12px;
	margin-top: 10px;
	color: #fff;
	text-transform: uppercase;
}
/*大屏幕*/
.sdropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	margin-top: 2px;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.sdropdown-menu > li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}
@media screen and (min-width: 769px) {
.logo {
	margin: 20px 0px 0px 0px;
	max-width: 330px;
	max-height: 60px;
}
.flash {
	margin-top: 90px;
}
.navbar {
	min-height: 90px;
	margin-top: 40px;
}
.navbar-nav {
	float: right;
}
.navbar-nav > li > a {
	text-align: center;
}
.navbar-default .navbar-nav > li > a {
	padding-top: 35px;
	padding-bottom: 35px;
	color: #312b2b;
	font-size: 16px;
	font-weight: 600;
}
.navbar-default .navbar-nav > li > a:hover,  .navbar-default .navbar-nav > li > a:focus,  .navbar-default .navbar-nav > .active > a,  .navbar-default .navbar-nav > .active > a:hover,  .navbar-default .navbar-nav > .open > a,  .navbar-default .navbar-nav > .open > a:hover,  .navbar-default .navbar-nav > .open > a:focus {
	background-color: #16bdfe;
	color: #fff;
}
.small-nav {
	min-height: 50px;
	margin-top: 0px;
	background: rgba(255,255,255,0.95);
}
.small-nav .navbar-nav > li > a {
	padding-top: 20px;
	padding-bottom: 20px;
}
.small-nav img.logo {
	max-height: 60px;
	max-width: 220px;
	margin: 5px 0px 0px 0px;
}
.nav_small {
	background: #16bdfe;
	padding: 8px 0px 8px 0px;
	border-radius: 0px;
	border: none;
}
.snav_small {
	top: 0;
	left: 100%;
	position: absolute;
	background: #16bdfe;
	padding: 8px 0px 8px 0px;
	border-radius: 0px;
	border: none;
}
.snav_small > li {
}
.snav_small > li > a {
	line-height: 26px;
	color: #fff;
	font-size: 13px;
}
.snav_small > li > a:hover {
	color: #fff;
	background-color: #deb310;
}
.nav_small > li:hover>ul {
	z-index: 999;
	display: block;
}
.nav_small > li {
}
.nav_small > li > a {
	line-height: 26px;
	color: #fff;
	font-size: 13px;
}
.nav_small > li > a:hover {
	color: #fff;
	background-color: #deb310;
}
#app_menudown, #small_search {
	display: none;
}
.index_left_nav, .footer_nav {
	display: none;
}
.index_about {
	width: 600px;
}
}

/*小屏幕*/
@media screen and (max-width: 768px) {
#imgsy img{ max-width:100% !important; height:auto !important}
.scroll, .xcang {
	display: none;
}
.logo {
	margin: 7px 0px 0px 5px;
	max-width: 180px;
	max-height: 50px;
}
.flash {
	margin-top: 50px;
}
.list_box {
	padding-top: 50px
}
.navbar {
	min-height: 50px;
	margin-top: 40px;
}
.navbar-default .navbar-brand {
	color: #fff;
	font-size: 16px;
}
.navbar-default .navbar-brand:hover,  .navbar-default .navbar-brand:focus {
	color: #fff;
}
.navbar-toggle {
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: none;
}
.navbar-default .navbar-toggle:hover,  .navbar-default .navbar-toggle:focus {
}
.navbar-default .navbar-toggle .icon-bar {
}
.navbar-default .navbar-nav {
	margin-top: 0px;
	margin-bottom: 0px;
}
.navbar-default .navbar-nav > li {
}
.navbar-default .navbar-nav > li:last-child {
	border: none;
}
.navbar-default .navbar-nav > li > a,  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
}
.navbar-default .navbar-nav > li > a:hover,  .navbar-default .navbar-nav > li > a:focus,  .navbar-default .navbar-nav > .active > a,  .navbar-default .navbar-nav > .active > a:hover,  .navbar-default .navbar-nav > .active > a:focus,  .navbar-default .navbar-nav > .open > a,  .navbar-default .navbar-nav > .open > a:hover,  .navbar-default .navbar-nav > .open > a:focus,  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
	background-color: #fdce16;
	color: #fff;
}
.small-nav {
	margin-top: 0px;
	background: rgba(255,255,255,0.95);
}
.navbar-fixed-top {
	background-color: #fff;
}
.top_name {
	margin-right: -15px;
}
.language {
	margin-left: -15px;
}
.search_group {
	margin: 5px 0px 20px 0px;
}
#topsearch {
	display: none;
}
.product_head {
	background: none;
}
.product_head h2 {
	font-size: 18px;
	margin-top: 20px;
}
.product_index {
	margin-top: 10px;
}
.product_list {
	padding: 20px 0px 0px 0px;
}
.product_img {
	min-height: 80px;
	margin-bottom: 12px;
}
.product_list2 div.product_img {
	min-height: 80px;
	margin-bottom: 12px;
}
.advantage_list {
	margin-top: 10px;
}
.advantage_head h2 {
	font-size: 26px;
}
.about_head h2 {
	font-size: 18px;
}
.about_content img {
	max-width: 500px;
	width: 100%;
	margin-bottom: 15px;
}
.about_content a.btn-info {
	width: 220px;
	display: block;
	margin: 0 auto;
	padding: 8px 0px;
}
.case_box {
	padding: 35px 0px 10px 0px;
	margin-top: 10px;
}
.case_head h2, .news_head h2 {
	font-size: 18px;
}
.news_img {
	display: none;
}
.news_index {
	padding-left: 0px;
	margin-bottom: 10px;
}
.news_index li span {
	left: 0px;
	top: 0px;
	margin-right: 12px;
}
.news_index li a {
	margin-left: 0px;
	font-size: 16px;
}
.news_index li em {
	display: block;
	margin-left: 0px;
}
.page_bg {
	display: none;
}
.left_h {
	margin-top: 10px;
}
.list_related h2.left_h {
	margin-top: 60px;
}
.product_con img, .contents img {
	width: 100%;
}
.news_time {
	display: none;
}
#pic-page a img {
	width: 35px;
}
#cmsFloatPanel {
	display: none;
}
.point span.to_prev, .point span.to_next {
	text-align: left;
	padding-bottom: 8px;
}
.product_list2 {
	padding-top: 25px;
}
.feedback {
	margin-top: 20px;
}
.link_box {
	padding-left: 7px;
}
.link_box a {
	display: block;
	border-right: 0px;
	padding: 4px 0px;
}
.link_title {
	display: block;
}
.link_title:after {
	content: "";
}
.link_box button {
	display: inline-block;
	background-color: transparent;
	border: none;
	float: right;
	margin-top: -20px;
}
.link_box button:hover, .link_box button:focus {
	color: #FFEB3B;
}
.link_list {
	display: none;
	padding-top: 7px;
}
.tags_box {
	padding-left: 7px;
}
.tags_box a {
	display: block;
	border-right: 0px;
	padding: 4px 0px;
}
.tags_title {
	display: block;
}
.tags_title:after {
	content: "";
}
.tags_box button {
	display: inline-block;
	background-color: transparent;
	border: none;
	float: right;
	margin-top: -20px;
}
.tags_box button:hover, .tags_box button:focus {
	color: #FFEB3B;
}
.tags_rows {
	display: none;
	padding-top: 7px;
}
.footer_nav {
	background-color: #fafafa;
}
footer {
	margin-bottom: 50px;
	padding-left: 8px;
	padding-right: 8px;
}
h2.tt:before {
	content: '';
	width: 25px;
	height: 6px;
	background: url(../images/title_left.png) no-repeat;
	margin: 0 auto;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px
}
h2.tt:after {
	content: '';
	width: 25px;
	height: 6px;
	background: url(../images/title_left.png) no-repeat;
	margin: 0 auto;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px
}
/**轮播下方广告**/
.index-info-wrap .index-info, .layout {
	width: 100%
}
.index-sv-items {
	padding: 30px 0
}
.index-sv-items ul {
	width: 100%;
	padding-top: 0
}
.index-sv-items .sv-item {
	width: 100%;
	padding: 0;
	margin: 0 auto 10px;
	float: none;
	-webkit-animation: none;
	-moz-animation: none!important;
	animation: none!important;
	opacity: 1!important;
	text-align: center;
	outline: 0
}
.index-sv-items .sv-item:hover {
	outline: 0;
	border-color: #eee
}
.index-sv-items .sv-tit {
	font-size: 16px
}
.index-sv-items .sv-item:hover .sv-ico {
	-moz-transform: none;
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none
}
.index-sv-items .sv-ico {
	padding: 0;
	margin: 0 auto 15px;
	float: none;
	left: 0;
	top: 20px;
	background-color: #fdce16;
	position: relative
}
.index-sv-items .sv-ico img {
	border: 0
}
.index-sv-items .readmore, .index-sv-items .sv-desc, .index-sv-items .sv-tit {
	margin-left: 0
}
.index-sv-items .sv-item:hover .sv-ico img {
	box-shadow: none
}
.index-sv-items .readmore a:before {
	-moz-transform: scale(.7);
	-webkit-transform: scale(.7);
	transform: scale(.7)
}
.index-tit-bar {
	text-align: center;
	padding: 0
}
.index-tit-bar .title {
	font-size: 16px
}
.index-tit-bar .title:after {
	margin-top: 10px
}
.index-info-wrap .index-info ul {
	width: 100%;
	text-align: center;
	padding: 0 0 50px
}
.index-info-wrap .index-info ul .index-info-list {
	width: 90%;
	margin: 0 auto;
	display: block
}
.index-info-wrap .index-info ul .index-info-list .info-pic {
	width: 60%;
	margin: 0 auto
}
.index-info-wrap .index-info ul .index-info-list .info-pic {
	border-bottom-width: 3px
}
.index-info-wrap .index-info ul .index-info-list .info-detail-wrap .info-title {
	padding: 10px 0 0;
	font-size: 14px
}
.index-info-wrap .index-info ul .index-info-list .info-detail-wrap .info-detail {
	font-size: 12px;
	line-height: 20px
}
.index-info-wrap .index-info ul .index-info-list .info-detail-wrap .info-more {
	font-size: 12px;
	margin: 10px 0
}
.index-product .owl-carousel .owl-controls {
	height: auto
}
.index-product .owl-dots {
	position: static;
	height: auto
}
}
 @media screen and (max-width: 767px) {
.copyright_p {
	display: none;
}
}

/*320px到768px*/
@media screen and (min-width:320px) and (max-width:768px) {
.col-mm-1, .col-mm-2, .col-mm-3, .col-mm-4, .col-mm-5, .col-mm-6, .col-mm-7, .col-mm-8, .col-mm-9, .col-mm-10, .col-mm-11, .col-mm-12 {
	float: left;
}
.col-mm-12 {
	width: 100%;
}
.col-mm-11 {
	width: 91.66666667%;
}
.col-mm-10 {
	width: 83.33333333%;
}
.col-mm-9 {
	width: 75%;
}
.col-mm-8 {
	width: 66.66666667%;
}
.col-mm-7 {
	width: 58.33333333%;
}
.col-mm-6 {
	width: 50%;
}
.col-mm-5 {
	width: 41.66666667%;
}
.col-mm-4 {
	width: 33.33333333%;
}
.col-mm-3 {
	width: 25%;
}
.col-mm-2 {
	width: 16.66666667%;
}
.col-mm-1 {
	width: 8.33333333%;
}
}
 @media screen and (max-width: 340px) {
.logo {
	max-width: 230px;
}
}
 @media screen and (min-width:1024px) and (max-width:1280px) {
.index-sv-items .sv-item {
	width: 240px;
}
}
.kfixednav {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 999;
	margin-top: 0px;
	border-bottom: 1px solid #ccc;
}
.features_sec17 {
	width: 100%;
	padding: 45px 0;
	background-color: #e3e3e3;
}
.clients .jcarousel-skin-tango .jcarousel-container-horizontal {
	width: 100%;
	text-align: left;
	float: left
}
/* 反馈模块*/
.met-feedback {
	padding: 30px 20px;
	background: #f4f5f6;
	margin-top: 20px;
}
.met-feedback .container {
	max-width: 800px;
}
.met-feedback .met-feedback-body {
	padding: 30px;
	background: #ffffff;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	-o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	-ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	border-radius: 3px;
}
@media (max-width: 767px) {
.met-feedback .met-feedback-body {
	padding: 10px;
}
}
@media (max-width: 767px) {
.met-feedback {
	padding: 80px 0 20px 0;
}
}
fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0
}
legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 22px;
	font-size: 21px;
	line-height: inherit;
	color: inherit;
	border: 0;
	border-bottom: 1px solid transparent
}
label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700
}
input[type=search] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
input[type=checkbox], input[type=radio] {
	margin: 4px 0 0;
	margin-top: 1px\9;
	line-height: normal
}
input[type=file] {
	display: block
}
input[type=range] {
	display: block;
	width: 100%
}
select[multiple], select[size] {
	height: auto
}
input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}
output {
	display: block;
	padding-top: 7px;
	font-size: 14px;
	line-height: 1.57142857;
	color: #76838f
}
.form-control {
	display: block;
	width: 100%;
	height: 36px;
	padding: 6px 15px;
	font-size: 14px;
	line-height: 1.57142857;
	color: #76838f;
	background-color: #fff;
	background-image: none;
	border: 1px solid #dedede;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
.form-control:focus {
	border-color: #62a8ea;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(98,168,234,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(98,168,234,.6)
}
.form-control.focus, .form-control:focus {
	border-color: #62a8ea;
	-webkit-box-shadow: none;
	box-shadow: none
}
.form-control::-moz-placeholder {
color:#a3afb7;
opacity:1
}
.form-control:-ms-input-placeholder {
color:#a3afb7
}
.form-control::-webkit-input-placeholder {
color:#a3afb7
}
.form-control::-ms-expand {
background-color:transparent;
border:0
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
	background-color: #f3f7f9;
	opacity: 1
}
.form-control[disabled], fieldset[disabled] .form-control {
	cursor: not-allowed
}
textarea.form-control {
	height: auto
}
input[type=search] {
	-webkit-appearance: none
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
input[type=date].form-control, input[type=time].form-control, input[type=datetime-local].form-control, input[type=month].form-control {
	line-height: 36px
}
.input-group-sm input[type=date], .input-group-sm input[type=time], .input-group-sm input[type=datetime-local], .input-group-sm input[type=month], input[type=date].input-sm, input[type=time].input-sm, input[type=datetime-local].input-sm, input[type=month].input-sm {
	line-height: 32px
}
.input-group-lg input[type=date], .input-group-lg input[type=time], .input-group-lg input[type=datetime-local], .input-group-lg input[type=month], input[type=date].input-lg, input[type=time].input-lg, input[type=datetime-local].input-lg, input[type=month].input-lg {
	line-height: 46px
}
}
.form-group {
	margin-bottom: 20px
}
.checkbox, .radio {
	position: relative;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px
}
.checkbox label, .radio label {
	min-height: 22px;
	padding-left: 20px;
	margin-bottom: 0;
	font-weight: 400;
	cursor: pointer
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
	position: absolute;
	margin-top: 4px\9;
	margin-left: -20px
}
.checkbox+.checkbox, .radio+.radio {
	margin-top: -5px
}
.checkbox-inline, .radio-inline {
	position: relative;
	display: inline-block;
	padding-left: 20px;
	margin-bottom: 0;
	font-weight: 400;
	vertical-align: middle;
	cursor: pointer
}
.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
	margin-top: 0;
	margin-left: 10px
}
fieldset[disabled] input[type=checkbox], fieldset[disabled] input[type=radio], input[type=checkbox].disabled, input[type=checkbox][disabled], input[type=radio].disabled, input[type=radio][disabled] {
	cursor: not-allowed
}
.checkbox-inline.disabled, .radio-inline.disabled, fieldset[disabled] .checkbox-inline, fieldset[disabled] .radio-inline {
	cursor: not-allowed
}
.checkbox.disabled label, .radio.disabled label, fieldset[disabled] .checkbox label, fieldset[disabled] .radio label {
	cursor: not-allowed
}
.form-control-static {
	min-height: 36px;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-bottom: 0
}
.form-control-static.input-lg, .form-control-static.input-sm {
	padding-right: 0;
	padding-left: 0
}
.input-sm {
	height: 32px;
	padding: 6px 13px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 2px
}
select.input-sm {
	height: 32px;
	line-height: 32px
}
select[multiple].input-sm, textarea.input-sm {
	height: auto
}
select.input-sm {
	padding-top: 0;
	padding-bottom: 0
}
.form-group-sm .form-control {
	height: 32px;
	padding: 6px 13px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 2px
}
.form-group-sm select.form-control {
	height: 32px;
	line-height: 32px
}
.form-group-sm select[multiple].form-control, .form-group-sm textarea.form-control {
	height: auto
}
.form-group-sm .form-control-static {
	height: 32px;
	min-height: 34px;
	padding: 7px 13px;
	font-size: 12px;
	line-height: 1.5
}
.input-lg {
	height: 46px;
	padding: 10px 18px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 4px
}
select.input-lg {
	height: 46px;
	line-height: 46px
}
select[multiple].input-lg, textarea.input-lg {
	height: auto
}
select.input-lg {
	padding-top: 0;
	padding-bottom: 0
}
.form-group-lg .form-control {
	height: 46px;
	padding: 10px 18px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 4px
}
.form-group-lg select.form-control {
	height: 46px;
	line-height: 46px
}
.form-group-lg select[multiple].form-control, .form-group-lg textarea.form-control {
	height: auto
}
.form-group-lg .form-control-static {
	height: 46px;
	min-height: 40px;
	padding: 11px 18px;
	font-size: 18px;
	line-height: 1.3333333
}
.has-feedback {
	position: relative
}
.has-feedback .form-control {
	padding-right: 45px
}
.form-control-feedback {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	display: block;
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	pointer-events: none
}
.form-group-lg .form-control+.form-control-feedback, .input-group-lg+.form-control-feedback, .input-lg+.form-control-feedback {
	width: 46px;
	height: 46px;
	line-height: 46px
}
.form-group-sm .form-control+.form-control-feedback, .input-group-sm+.form-control-feedback, .input-sm+.form-control-feedback {
	width: 32px;
	height: 32px;
	line-height: 32px
}
.btn-primary {
	background-color: #febf01;
	border-color: #febf01;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
	background-color: #febf01;
	border-color: #febf01;
	opacity: .7;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	color: #fff
}
.btn-block {
	display: block;
	width: 100%;
	color: #fff
}
.btn-block+.btn-block {
	margin-top: 5px
}
.btn-lg {
	padding: 10px 18px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 4px
}

.pagebar { padding:20px; overflow:hidden; clear:both}
.pagebar .pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.pagination a {
  background: #fff;
  border: 1px solid #ccc;
  color: #333;
  font-size: 12px;
  padding: 8px 10px;
  margin: 0 2px;
  border-radius: 3px; line-height:100%
}
.pagination span {
    color: #333;
    font-size: 12px;
    padding: 7px 2px;
    margin: 0 2px;
    border-radius: 3px;
}
.pagination a:hover {
  color: #333;
  border: 1px solid #333;
}
.pagination a.page-num-current {
  color: #fff;
  background: #333;
  border: 1px solid #333;
}
.pagination .st{ font-family:宋体}
.text-secondary{ text-align:center; padding:20px 0}